{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock links %}

{% block content %}
    <div class="signup-form">
        <h1 class="title">회원가입</h1> <!--div안에 넣어주기? -->
        <div class="already">이미 해후 회원이신가요? <a href="{% url 'login' %}">로그인</a></div>
        <form>
            <div class="text-container">
                <input type="text" placeholder="아이디" class="id text"><br>
                <input type="text" placeholder="비밀번호" class="password text"><br>
                <input type="text" placeholder="비밀번호 확인" class="passwordCheck text"><br>
                <input type="text" placeholder="닉네임" class="nickname text"><br>
                
            </div>
            <div class="signup-confirm"> 
                <input type="submit" value="가입하기" class="signup confirm btn">
        </form>
    </div>

{% endblock %}
