/* total.html */
#top-space {
    height: 18.23vw;
}

.hh-container {
    display: flex;
}

.top-container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100vw - 32.3vw);
    margin: 0 auto;
}

.search-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 25px 
}

#bucket-image {
    height: 50%;
    flex-grow: 2;
}

.search-group {
    position: relative;
    display: inline-block;
    line-height: 4;
    flex-grow: 1;
    width: 60%;
}

.hh-search-bar {
    height: 100%;
    width: 100%;
}

.search-text {
    height: 50%;
    width: 100%;
    font-size: 100%;
    border-radius: 1.04vw;
    padding-left: 2.4vw;
}

.search-btn {
    position: absolute;
    z-index: 1;
    left: 0.7vw;
    background-color: transparent;
    border: 0;
}

.search-btn > i::before {
    font-size: 1.25vw;
}

#main-space {
    background-color: #fafafa;
}

.contents {
    margin: 0 16.15vw;
}

#title-container {
    justify-content: space-between;
}

.filter-btn-container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    border: none;
    border-radius: 5vw;
    color: white;
    font-size: 0.83vw;
    padding: 0.5vw 1vw;
    margin: 0.5vw;
}

.filter-btn.red-btn {
    background-color: red;
}
.filter-btn.orange-btn {
    background-color: orange;
}
.filter-btn.yellow-btn {
    background-color: yellow;
}
.filter-btn.green-btn {
    background-color: green;
}
.filter-btn.blue-btn {
    background-color: blue;
}
.filter-btn.navy-btn {
    background-color: navy;
}

#content-title {
    display: block;
    height: 4.17vw;
    line-height: 4.17vw;
    font-size: 1.875vw;
    font-weight: bold;
}

#contents-container {
    flex-direction: column;
}

.bucket-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.bucket {
    display: inline-block;
    position: relative;
    width: 15.37vw;
    height: 15.37vw;
    margin-top: 3.02vw;
    overflow: hidden;
}

.description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.04vw;
    background: linear-gradient(transparent, black);
    color: #fff;
    opacity: 0.5;
    transform: translateY(2.47vw);
    transition: transform .25s;
}

.description-title {
    font-size: 1.25vw;
}

.description-username {
    font-size: 0.83vw;
}

.description::before {
    content: '';
    position: absolute;
    top: -2.47vw;
    right: -2.34vw;
}

.bucket:hover .description {
    transform: translateY(0);
    opacity: 1;
}

.img-container {
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#alert-space {
    position: fixed;
    margin: 10px 16vw;
    z-index: 100;
}

.hh-alert-box {
    width: 68vw;
}