<h1>Bucket title : {{bucket.title}}'s process</h1>
<div>
    {% for process in total_process %}
        <h4>{{process.title}}</h4>
        {% if process.image %}
            <image src="{{process.image.url}}" height = 100>
        {%endif%}
        <p>{{process.text}}</p>
        <p>{{process.createdAt}}</p>
        {% if user.id == process.bucket.user.id %}
            <a href = "{% url 'processedit' process.id %}">edit process</a>
            <a href = "{% url 'processdelete' process.id %}">delete process</a>
        {% endif %}
        <br>
    {% endfor %}
    
    {% if user.id == bucket.user.id %}
        <a href = "{% url 'processcreate' bucket.id %}">create process</a>
    {% endif %}

    <div>
        <h4>Comments</h4>
        {% for comment in total_comment %}
            <li>
                {{comment.user}} : {{comment.comment}}
                {% if user.id == comment.user.id %}
                    <a href = "{% url 'deletecomment' bucketid=bucket.id commentid=comment.id %}">delete</a>
                {% endif %}
        
            </li>
        {%endfor%}
    </div>
    <form method = 'POST' action = "{% url 'createcomment'  userid=user.id bucketid=bucket.id %}">
        {% csrf_token %} 
        <table>
            {{comment_form.as_table}}
        </table>
        <input type = 'submit' value = "댓글작성">     
    </form>
</div>


