.guide-container{
    width: 100%;
    height: auto;
}

.back-img img{
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
/*

.background-wrap {
    background-image: url("/static/image/guideimg.png");
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}
  
  .content span {
    color: black;
}
  
  .content span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}
  
  .content span:nth-child(2) {
    font-size: 20px;
}*/

