{% extends "base.html" %}
{% block links %}
  
{% endblock links %}
{% block content %}
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  {{nickname}}'s bucket create Form
  <form action="{% url 'create' nickname %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="버킷리스트를 적어주세요"><br>
    <input type="radio" name="category" id="1" value="1"><label for="1">1</label>
    <input type="radio" name="category" id="2" value="2"><label for="2">2</label>
    <input type="radio" name="category" id="3" value="3"><label for="3">3</label>
    <input type="radio" name="category" id="4" value="4"><label for="4">4</label>
    <input type="radio" name="category" id="5" value="5"><label for="5">5</label>
    <input type="radio" name="category" id="6" value="6"><label for="6">6</label>
    <br>

    <br>
    <button type="submit">완료</button>
  </form>
{% endblock content %}
