{% extends "base.html" %} {% load static%} {% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock links %} {% block content %}
<div id="create-form-box">
  <h2>{{nickname}}님의 버킷 수정</h2>
  <form action="{% url 'update' user.nickname bucket.id %}" method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputTitle" type="text" name="title" value="{{bucket.title}}" />
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">카테고리</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="category" id="1" value="1" checked />
          <label class="form-check-label" for="1">하고 싶은 것</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="category" id="2" value="2" />
          <label class="form-check-label" for="2">먹고 싶은 것</label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="category" id="3" value="3" />
          <label class="form-check-label" for="3">갖고 싶은 것</label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="category" id="4" value="4" />
          <label class="form-check-label" for="4">가고 싶은 곳</label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="category" id="5" value="5" />
          <label class="form-check-label" for="5">가고 싶은 곳</label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="category" id="6" value="6" />
          <label class="form-check-label" for="6">가고 싶은 곳</label>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">완료</button>
  </form>
</div>
{% endblock content %}
