{% extends 'base.html' %}
{% load static %}
{% block links %}
<script src="https://kit.fontawesome.com/f26e9103bc.js" crossorigin="anonymous"></script>
<script src="{% static 'js/total.js' %}" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style2.css' %}"/>
{% endblock links %}
{% block content %}
{{ user.nickname|json_script:"user-nickname" }}
<section id="top-space">
    <br>
    <div class="hh-container">
        <div>
            <img id="bucket-image" src="{% static 'image/bucket.svg' %}" alt="bucket.png">
            <p id="content-title">{{nickname}}'s 프로필</p>
        </div>
        <!-- <div class="search-group" style="visibility: hidden;">
            <form class="hh-search-bar" method="GET" onsubmit="return false;">
            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass first-icon fa-s"></i>
            </button>
            <input class="search-text" type="search" id="searchWord" name="searchWord" placeholder="검색어를 입력하세요" maxlength="60" size="60">
            </form>
        </div> -->
        <div class="represent-bucket">
            <img id="represent-image" src="{% static 'image/bucket.svg' %}" alt="bucket.png">
            <p id="content-title">{{nickname}}'s 대표버킷</p>
        </div>
    </div>
</section>

<section id="main-space">
    <div class="container contents">
        <div id="contents-container" class="hh-container">
            <div id="title-container" class="hh-container2">
                <p id="content-title">{{nickname}}'s bucket list</p>
                <div class="hh-category-container hh-container2">
                    <form id="category-filter-form">
                        <div class="hh-container2 hh-filter-btn-container">
                        <button class="hh-filter-btn" type="submit" name="category" id="total" value="0">전체</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="want-to-do" value="1">하고 싶은 것</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="want-to-eat" value="2">먹고 싶은 것</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="want-to-have" value="3">갖고 싶은 것</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="want-to-go" value="4">가고 싶은 곳</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="travel" value="5">여행</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="hobby" value="6">취미</button>
                        <button class="hh-filter-btn" type="submit" name="category" id="etc" value="7">기타</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- <p id="content-title">고정된 버킷</p> -->
            <div id="show top_fixed container">
                {% for bucket in buckets %}
                    {% if bucket.top_fixed is True %}
                    <img id="represent-img" src="{% static 'image/line.png' %}" alt="bucket.png">
                    <div class="hh-container hh-category-container">
                        <p><a href="{% url 'bucketprocess' bucket.id %}">{{bucket.title}}</a> {{bucket.category}} {{bucket.createdAt}}</p>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button id="btn_fix{{bucket.id}}" onclick="click_fix('{{bucket.id}}', '{{user.nickname}}')">★</button>
                    </div>
                    {% endif %}
                    <!-- <p>{{ordered_record.category}}</p>
                    <p>{{ordered_record.createdAt}}</p> -->
                    <!-- <br><br> -->
                {% endfor %}
                <img id="represent-img" src="{% static 'image/line.png' %}" alt="bucket.png">
                <br><br><br>
            </div>

            {% for bucket in buckets %}
            <div class="hh-container hh-category-container">
            <!-- hide & show / div 감싸고-->
                <!-- <h4><a href="{% url 'bucketprocess' bucket.id %}">{{bucket.title}}</a></h4>
                <h4>{{bucket.category}}</h4> 
                id주고
                <h4>{{bucket.createdAt}}</h4> -->

                <p><h3><a href="{% url 'bucketprocess' bucket.id %}">{{bucket.title}}</a></h3>&nbsp;&nbsp;&nbsp;&nbsp;{{bucket.category}}&nbsp;&nbsp;&nbsp;&nbsp;{{bucket.createdAt}}</p>
        
                <!-- {% if user in bucket.liked_users.all %}
                    <button id="btn-like{{bucket.id}}" onclick="click_like('{{bucket.id}}', '{{user.nickname}}')">♥</button>
                {% else %}
                    <button id="btn-like{{bucket.id}}" onclick="click_like('{{bucket.id}}', '{{user.nickname}}')">♡</button>
                {% endif %} -->
                &nbsp;&nbsp;&nbsp;

                <div>
                    <div class="hh-btn-space">
                    {% if user in bucket.liked_users.all %}
                      <button id="btn-like{{bucket.id}}" class="hh-btn-like" value="{{bucket.id}}">
                        <img src="{% static 'image/like_fill.svg' %}" alt="♥">
                      </button>
                    {% else %}
                      <button id="btn-like{{bucket.id}}" class="hh-btn-like" value="{{bucket.id}}">
                        <img src="{% static 'image/like.svg' %}" alt="♡">
                      </button>
                    {% endif %}
                      <label for="btn-like{{bucket.id}}">{{ bucket.liked_users.count }}</label>
                    </div>
                </div>

                <!-- <p id="like_cnt{{bucket.id}}" class="description-username">{{ bucket.liked_users.count }}</p>
                <button>퍼가기</button>
                <p class="description-username">{{ bucket.referenced_users.count }}</p> -->
<!--                 
                {% if bucket.top_fixed is True %}
                    <button id="btn_fix{{bucket.id}}" onclick="click_fix('{{bucket.id}}', '{{user.nickname}}')">★</button>
                {% else %}
                    <button id="btn_fix{{bucket.id}}" onclick="click_fix('{{bucket.id}}', '{{user.nickname}}')">☆</button>
                {% endif %} -->
                &nbsp;&nbsp;&nbsp;
                <div class="hh-btn-space">
                    {% if bucket.top_fixed is True %}
                      <button id="btn-fix{{bucket.id}}" class="hh-btn-fix" value="{{bucket.id}}">
                        <img src="{% static 'image/like_fill.svg' %}" alt="★">
                      </button>
                    {% else %}
                      <button id="btn-fix{{bucket.id}}" class="hh-btn-fix" value="{{bucket.id}}">
                        <img src="{% static 'image/like.svg' %}" alt="☆">
                      </button>
                    {% endif %}
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p><a href="{% url 'delete' user.nickname bucket.id %}">DELETE</a></p>
                &nbsp;&nbsp;&nbsp;
                <p><a href="{% url 'edit' user.nickname bucket.id %}">EDIT</a></p>

                <br>
            </div>
            <img id="represent-img" src="{% static 'image/line.png' %}" alt="bucket.png">

            {% endfor %}
        </div>
    </div>
</section>
<!-- <h2>고정된 버킷</h2>
<br><br>
<div id="show top_fixed container">
    {% for ordered_record in ordered_records %}
        {% if ordered_record.top_fixed is True %}
            <h4><a href="{% url 'bucketprocess' ordered_record.id %}">{{ordered_record.title}}</a></h4>
            <h4>{{ordered_record.category}}</h4>
            <h4>{{ordered_record.createdAt}}</h4>
            <br><br>
        {% endif %}
    {% endfor %}
</div> -->

<!-- <br><br>
{% for bucket in buckets %}
hide & show / div 감싸고
    <h4><a href="{% url 'bucketprocess' bucket.id %}">{{bucket.title}}</a></h4>
    <h4>{{bucket.category}}</h4> 
    id주고
    <h4>{{bucket.createdAt}}</h4>

    {% if user in bucket.liked_users.all %}
        <button id="btn-like{{bucket.id}}" onclick="click_like('{{bucket.id}}', '{{user.nickname}}')">♥</button>
    {% else %}
        <button id="btn-like{{bucket.id}}" onclick="click_like('{{bucket.id}}', '{{user.nickname}}')">♡</button>
    {% endif %}
    <p id="like_cnt{{bucket.id}}" class="description-username">{{ bucket.liked_users.count }}</p>
    <button>퍼가기</button>
    <p class="description-username">{{ bucket.referenced_users.count }}</p>

    <h4><a href="{% url 'delete' user.nickname bucket.id %}">DELETE</a></h4>
    <h4><a href="{% url 'edit' user.nickname bucket.id %}">EDIT</a></h4>
    
    {% if bucket.top_fixed is True %}
        <button id="btn_fix{{bucket.id}}" onclick="click_fix('{{bucket.id}}', '{{user.nickname}}')">★</button>
    {% else %}
        <button id="btn_fix{{bucket.id}}" onclick="click_fix('{{bucket.id}}', '{{user.nickname}}')">☆</button>
    {% endif %}
    <br><br><br>

{% endfor %} -->
<a href="{% url 'create' user.nickname %}">go to create bucket</a>

{% endblock %} 