{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f26e9103bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Haehoo</title>
  </head>
  <body>
    <section id="top-space"></section>
    <section id="main-space">
      <div id="contents">
        <div id="contents-container" class="container">
          <div id="title-container" class="container">
            <p id="content-title">Our bucket</p>
            <div class="search-group">
              <form class="search-bar" action="#" method="GET">
                <button class="search-btn">
                  <i class="fa-solid fa-magnifying-glass first-icon fa-2xs"></i>
                </button>
                <input class="search-text" type="text" id="searchWord" name="searchWord" placeholder="검색어를 입력하세요" maxlength="30" size="30">
              </form>
            </div>
          </div>
          <div class="container bucket-contatiner">
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
            <a class="bucket" href="#">
              <div class="img-container">
                <img class="thumbnail" src="../static/img/sample.jpg" alt="sample"/>
              </div>
              <div class="description">
                <h3 class="description-title">버킷리스트 Title</h4>
                <p class="description-username">김골무</p>
              </div>
            </a>
          </div>
        </div>
    </section>
  </body>
</html>
