{% extends "base.html" %}
{% load static %}
{% block links %}
<script src="https://kit.fontawesome.com/f26e9103bc.js" crossorigin="anonymous"></script>
<script src="{% static 'js/total.js' %}" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock links %}
{% block content %}
<section id="top-space">
  <div class="top-container container">
    <div class="search-container container">
      <img id="bucket-image" src="{% static 'image/bucket.png' %}" alt="bucket.png">
      <div class="search-group">
        <form class="search-bar" action="#" method="GET">
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass first-icon fa-2xs"></i>
          </button>
          <input class="search-text" type="text" id="searchWord" name="searchWord" placeholder="검색어를 입력하세요" maxlength="60" size="60">
        </form>
      </div>
    </div>
  </div>
</section>
<section id="main-space">
  <div class="contents">
    <div id="contents-container" class="container">
      <div id="title-container" class="container">
        <p id="content-title">Our bucket</p>
        <div class="category-container container">
          <form action="" method="get">
            <div class="filter-btn-container container">
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-do" value="1">하고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-eat" value="2">먹고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-have" value="3">갖고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-go" value="4">가고 싶은 곳</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="travel" value="3">여행</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="hobby" value="4">취미</button>
            </div>
          </form>
        </div>
        
      </div>
      <div class="container bucket-contatiner">
        {% for total_bucket in total_bucket.all %}
        <div>
          <a class="bucket" href="{% url 'bucketprocess' total_bucket.id %}">
            <div class="img-container">
              <img class="thumbnail" src="{% static 'image/sample.jpg' %}" alt="sample"/>
            </div>
            <div class="description">
              <h3 class="description-title">{{ total_bucket.title }}</h4>
              <p class="description-username">{{ total_bucket.userID }}</p>
              <p class="description-username">{{ total_bucket.category }}</p>
            </div>
          </a>
          <div>
            {% if user in total_bucket.liked_users.all %}
              <button id="btn_like{{total_bucket.id}}" onclick="click_like('{{total_bucket.id}}', '{{user.nickname}}')">♥</button>
            {% else %}
              <button id="btn_like{{total_bucket.id}}" onclick="click_like('{{total_bucket.id}}', '{{user.nickname}}')">♡</button>
            {% endif %}
            <p id="like_cnt{{total_bucket.id}}" class="description-username">{{ total_bucket.liked_users.count }}</p>
            <button>퍼가기</button>
            <p class="description-username">{{ total_bucket.referenced_users.count }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock content %}