{% extends "base.html" %}
{% load static %}
{% block links %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f26e9103bc.js" crossorigin="anonymous"></script>
<script src="{% static 'js/total.js' %}" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock links %}
{% block content %}
{{ user.nickname|json_script:"user-nickname" }}
<section id="top-space">
  <div class="top-container container">
    <div class="search-container container">
      <img id="bucket-image" src="{% static 'image/bucket.png' %}" alt="bucket.png">
      <div class="search-group">
        <form class="search-bar" action="#" method="GET">
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass first-icon fa-2xs"></i>
          </button>
          <input class="search-text" type="text" id="searchWord" name="searchWord" placeholder="검색어를 입력하세요" maxlength="60" size="60">
        </form>
      </div>
    </div>
  </div>
</section>
<section id="main-space">
  <div id="alert-space"></div>
  <div class="contents">
    <div id="contents-container" class="container">
      <div id="title-container" class="container">
        <p id="content-title">Our bucket</p>
        <div class="category-container container">
          <form action="" method="get">
            <div class="filter-btn-container container">
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-do" value="1">하고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-eat" value="2">먹고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-have" value="3">갖고 싶은 것</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="want-to-go" value="4">가고 싶은 곳</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="travel" value="3">여행</button>
              <button class="btn btn-primary m-2" type="submit" name="category" id="hobby" value="4">취미</button>
            </div>
          </form>
        </div>
        
      </div>
      <div class="container bucket-contatiner">
        {% for bucket in total_bucket.all %}
          <div>
            <button id="bucket{{bucket.id}}" type = "button" class="bucket" value="{{bucket.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <div class="img-container">
                <img class="thumbnail" src="{% static 'image/sample.jpg' %}" alt="sample"/>
              </div>
              <div class="description">
                <h3 id="bucket-title" class="description-title">{{ bucket.title }}</h3>
                <p id="bucket-user" class="description-username">{{ bucket.user }}</p>
                <p id="bucket-category" class="description-username">{{ bucket.category }}</p>
              </div>
            </button>
            <div>
              {% if user in bucket.liked_users.all %}
                <button id="btn_like{{bucket.id}}" class="btn_like" value="{{bucket.id}}">♥</button>
              {% else %}
                <button id="btn_like{{bucket.id}}" class="btn_like" value="{{bucket.id}}">♡</button>
              {% endif %}
              <label for="btn_like{{bucket.id}}">{{ bucket.liked_users.count }}</label>
              {% if user != bucket.user %}
                {% if bucket.id in user_scraps.all %}
                  <button id="btn_scrap{{bucket.id}}" class="btn_scrap" value="{{bucket.id}}">퍼가기 취소</button>
                {% else %}
                  <button id="btn_scrap{{bucket.id}}" class="btn_scrap" value="{{bucket.id}}">퍼가기</button>
                {% endif %}
              {% else %}
                  <span id="btn_scrap{{bucket.id}}">퍼가기</span>
              {% endif %}
              <label for="btn_scrap{{bucket.id}}">{{ bucket.deriving_bucket.all.count }}</label>
            </div>
          </div>
        {% endfor %}  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}

