@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	margin: 0;
}

input:focus {
    outline: none;
    background-color: white;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

/*nav바*/

.header {
	background: #FFFFFF;
	position: fixed;
	width: 100%;
	height: 40px;
	z-index: 100;
    border-style: none;
    box-shadow: 0px 3px 6px 0px #D7D7D7;
}

.header-inner {
	display: flex;
	width: 950px;
	height: 40px;
	justify-content: space-between;
	margin: 0 auto;
}

.header-logo {
	justify-content: center;
	align-items: center;
	height: 40px;
}

.logo {
    font-size: 26px;
    font-family: 'MapoFlowerIsland';
    line-height: 1.5;
}

.header-contents {
	height: 40px;
}

.header-contents-list > li {
    float: left;
    position: relative;
}


.header-contents-item {
	display: block;
    padding: 10px 0;
    height: 40px;
    box-sizing: border-box;
    text-align:right;
    width: 120px;
	font-size: 16px;
    font-family: 'MapoFlowerIsland';
}


/*footer*/

.footer {
    background: black;
	position: relative;
	width: 100%;
	height: 20px;
    border-style: none;
}

.footer-inner {
    display: flex;
	width: 1000px;
	height: 20px;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-left {
    display: flex;
    height: 20px;
    justify-content: space-between;
	align-items: center;

}

.footer-left-item1 {
    color:#fff;
    font-size: 14px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

.footer-left-item2 {
    color:#fff;
    font-size: 9px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

.footer-left-item3 {
    color:#fff;
    font-size: 12px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

.footer-middle {
    display: flex;
    height: 20px;
    justify-content: space-between;
	align-items: center;
}

.footer-middle-item1 {
    color:#fff;
    font-size: 12px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

.footer-middle-item2 {
    color:#fff;
    font-size: 12px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

.footer-right {
    display: flex;
    height: 20px;
    justify-content: space-between;
	align-items: center;
}

.footer-right > a {
    color:#fff;
    font-size: 10px;
    font-family: 'MapoFlowerIsland';
    text-align: left;
}

