{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
<link href="http://fonts.cdnfonts.com/css/sansita-one" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="container">
<div class="intro">
    <p class="intro-contents">편지를 통해 어쩌구 해보세요.
    <br>편지를 통해 어쩌구 하면 저쩌구 됩니다.
    <br>가나다라마바사 아자차카타파하 아야어여오요우유으이
    </p>
</div>
<div class="intro-page">
    <a href="{% url 'guide' %}" class="intro-link">Read More</a>
</div>
<br><br><br><br>
<div class="wrap">
    <div class="wrapimage">
        <img id="image" src="{% static 'image/mainimage.png' %}" >
    </div>
    <div class="imagetext">
        <p class="letter">Letter</p>
        <p class="letter2">편지쓰러가기</p>
        <p class="bucketlist">Bucket<br>List</p>
        <p class="bucketlist2">버킷리스트<br>작성하기</p>
        <a href="" class="letter-link"></a>
        <a href="{% url 'total' %}" class="bucket-link"></a>

    </div>
</div>
</div>
{% endblock %}
